@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100&display=swap");

* {
	font-family: "Roboto Mono", monospace;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background: linear-gradient(to right, #ff0a6c, #4a3cdb);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
